In [1]:
import pandas as pd
import numpy as np
import requests
import os
from dotenv import load_dotenv
import fmpsdk as fmp
from pyspark.sql import SparkSession

In [2]:
load_dotenv()
fmp_key = os.getenv("fmp_key")

In [5]:
spark2 = SparkSession.builder \
        .appName("crypto-Data") \
        .getOrCreate()

In [6]:
help(fmp.historical_price_full)

Help on function historical_price_full in module fmpsdk.general:

historical_price_full(apikey: str, symbol: Union[str, List], time_series: int = None, series_type: str = None, from_date: str = None, to_date: str = None) -> Optional[List[Dict]]
    Query FMP Historical Price Full API.

    This API endpoint is a multifunction tool!

    :param apikey: Your API Key
    :param symbol: The Ticker, Index, Commodity, etc. symbol to query for.
    :param time_series: Not sure what this is.  5 is the only value I've seen used.
    :param series_type: Not sure what this is.  "line" is the only option I've seen used.
    :param from_date: 'YYYY-MM-DD' format
    :param to_date: 'YYYY-MM-DD' format
    :return: A list of dictionaries.

In [7]:
btc_df = fmp.historical_price_full(apikey=fmp_key,symbol="BTCUSD",from_date='2004-02-10')

In [8]:
df_pandas = pd.DataFrame(btc_df)

In [9]:
df_pandas.head()

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
0,2024-02-24,50737.0,51717.00,50576.55,51496.02,51468.07031,15118066688,15118066688,759.02,1.50000,51180.27,"February 24, 24",0.015000
1,2024-02-23,51300.1,51537.00,50227.00,50737.00,50731.94922,21427078270,21427078270,-563.10,-1.10000,51018.44,"February 23, 24",-0.011000
2,2024-02-22,51866.9,52100.00,50890.20,51258.70,51304.97266,25413900611,25413900611,-608.20,-1.17000,51592.97,"February 22, 24",-0.011700
3,2024-02-21,52270.1,52394.91,50439.00,51851.67,51839.17969,28624907020,28624907020,-418.43,-0.80052,51313.06,"February 21, 24",-0.008005
4,2024-02-20,51771.2,53000.00,50584.00,52167.00,52284.87500,33353758256,33353758256,395.80,0.76452,51914.82,"February 20, 24",0.007645

In [10]:
len(df_pandas)

3759

In [11]:
help(spark2.createDataFrame)

Help on method createDataFrame in module pyspark.sql.session:

createDataFrame(data: Union[pyspark.rdd.RDD[Any], Iterable[Any], ForwardRef('PandasDataFrameLike'), ForwardRef('ArrayLike')], schema: Union[pyspark.sql.types.AtomicType, pyspark.sql.types.StructType, str, NoneType] = None, samplingRatio: Optional[float] = None, verifySchema: bool = True) -> pyspark.sql.dataframe.DataFrame method of pyspark.sql.session.SparkSession instance
    Creates a :class:`DataFrame` from an :class:`RDD`, a list, a :class:`pandas.DataFrame`
    or a :class:`numpy.ndarray`.

    .. versionadded:: 2.0.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    data : :class:`RDD` or iterable
        an RDD of any kind of SQL data representation (:class:`Row`,
        :class:`tuple`, ``int``, ``boolean``, etc.), or :class:`list`,
        :class:`pandas.DataFrame` or :class:`numpy.ndarray`.
    schema : :class:`pyspark.sql.types.DataType`, str or list, optional
        a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
        column names, default is None. The data type string format equals to
        :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
        omit the ``struct<>``.

        When ``schema`` is a list of column names, the type of each column
        will be inferred from ``data``.

        When ``schema`` is ``None``, it will try to infer the schema (column names and types)
        from ``data``, which should be an RDD of either :class:`Row`,
        :class:`namedtuple`, or :class:`dict`.

        When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must
        match the real data, or an exception will be thrown at runtime. If the given schema is
        not :class:`pyspark.sql.types.StructType`, it will be wrapped into a
        :class:`pyspark.sql.types.StructType` as its only field, and the field name will be
        "value". Each record will also be wrapped into a tuple, which can be converted to row
        later.
    samplingRatio : float, optional
        the sample ratio of rows used for inferring. The first few rows will be used
        if ``samplingRatio`` is ``None``.
    verifySchema : bool, optional
        verify data types of every row against schema. Enabled by default.

        .. versionadded:: 2.1.0

    Returns
    -------
    :class:`DataFrame`

    Notes
    -----
    Usage with `spark.sql.execution.arrow.pyspark.enabled=True` is experimental.

    Examples
    --------
    Create a DataFrame from a list of tuples.

    >>> spark.createDataFrame([('Alice', 1)]).show()
    +-----+---+
    |   _1| _2|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame from a list of dictionaries.

    >>> d = [{'name': 'Alice', 'age': 1}]
    >>> spark.createDataFrame(d).show()
    +---+-----+
    |age| name|
    +---+-----+
    |  1|Alice|
    +---+-----+

    Create a DataFrame with column names specified.

    >>> spark.createDataFrame([('Alice', 1)], ['name', 'age']).show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame with the explicit schema specified.

    >>> from pyspark.sql.types import *
    >>> schema = StructType([
    ...    StructField("name", StringType(), True),
    ...    StructField("age", IntegerType(), True)])
    >>> spark.createDataFrame([('Alice', 1)], schema).show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame with the schema in DDL formatted string.

    >>> spark.createDataFrame([('Alice', 1)], "name: string, age: int").show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create an empty DataFrame.
    When initializing an empty DataFrame in PySpark, it's mandatory to specify its schema,
    as the DataFrame lacks data from which the schema can be inferred.

    >>> spark.createDataFrame([], "name: string, age: int").show()
    +----+---+
    |name|age|
    +----+---+
    +----+---+

    Create a DataFrame from Row objects.

    >>> from pyspark.sql import Row
    >>> Person = Row('name', 'age')
    >>> df = spark.createDataFrame([Person("Alice", 1)])
    >>> df.show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame from a pandas DataFrame.

    >>> spark.createDataFrame(df.toPandas()).show()  # doctest: +SKIP
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+
    >>> spark.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
    +---+---+
    |  0|  1|
    +---+---+
    |  1|  2|
    +---+---+

In [12]:
spark_df = spark2.createDataFrame(df_pandas)

In [13]:
spark_df.show(n=3)

+----------+-------+-------+--------+--------+-----------+-----------+----------------+------+-------------+--------+---------------+--------------+
|      date|   open|   high|     low|   close|   adjClose|     volume|unadjustedVolume|change|changePercent|    vwap|          label|changeOverTime|
+----------+-------+-------+--------+--------+-----------+-----------+----------------+------+-------------+--------+---------------+--------------+
|2024-02-24|50737.0|51717.0|50576.55|51496.02|51468.07031|15118066688|     15118066688|759.02|          1.5|51180.27|February 24, 24|         0.015|
|2024-02-23|51300.1|51537.0| 50227.0| 50737.0|50731.94922|21427078270|     21427078270|-563.1|         -1.1|51018.44|February 23, 24|        -0.011|
|2024-02-22|51866.9|52100.0| 50890.2| 51258.7|51304.97266|25413900611|     25413900611|-608.2|        -1.17|51592.97|February 22, 24|       -0.0117|
+----------+-------+-------+--------+--------+-----------+-----------+----------------+------+-------------+--------+---------------+--------------+
only showing top 3 rows

In [14]:
spark_df.write \
    .format("jdbc") \
    .option("url","jdbc:sqlserver://ZAHRA\SQLEXPRESS:61254;database=stock_fundamentals;trustServerCertificate=true;encrypt=true") \
    .option("dbtable","btc_data") \
    .option("user","mehassan") \
    .option("password","password") \
    .save()

In [14]:
# spark2.stop()