In [1]:
import pandas as pd
import numpy as np
import requests
import os
from dotenv import load_dotenv
import fmpsdk as fmp
from pyspark.sql import SparkSession

In [2]:
load_dotenv()
fmp_key = os.getenv("fmp_key")

In [3]:
os.environ["PYSPARK_PYTHON"] = "C:/Users/mehas/anaconda/envs/algotrading/python.exe"

In [4]:
spark = SparkSession.builder.appName("fin-funData1").getOrCreate()

In [5]:
stock_symbols = [
    'AAPL', 'MSFT', 'NVDA', 'META', 'AMZN', 'TSLA', 'GOOGL',
    'ON', 'DBD', 'DSGX', 'GTLB', 'LOGI', 'CRSR',
    'LNG', 'SWN', 'APA', 'BTU', 'CL', 'CVX', 'XOM',
    'BMY', 'THC', 'TNDM',
    'MOS', 'AXTA', 'KOP',
    'SBLK', 'EME', 'DNOW',
]

In [8]:
help(fmp.income_statement)

Help on function income_statement in module fmpsdk.company_valuation:

income_statement(apikey: str, symbol: str, period: str = 'annual', limit: int = 10, download: bool = False, filename: str = 'income_statement.csv') -> Optional[List[Dict]]
    Query FMP /income-statement/ API.

    Display or download company's income statement.
    :param apikey: Your API key.
    :param symbol: Company ticker.
    :param period: 'quarter' or 'annual'.
    :param limit: Number of rows to return.
    :param download: True/False
    :param filename: Name of saved file.
    :return: A list of dictionaries.

In [32]:
data = {}
for i in stock_symbols:
    com_income_statement = pd.DataFrame(fmp.income_statement(apikey=fmp_key, symbol=i, limit=80, period="quarter"))
    data[i] = com_income_statement

In [44]:
data['DBD']

,date,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,revenue,costOfRevenue,...,incomeBeforeTaxRatio,incomeTaxExpense,netIncome,netIncomeRatio,eps,epsdiluted,weightedAverageShsOut,weightedAverageShsOutDil,link,finalLink
0,2023-09-30,DBD,USD,0000028823,2023-11-09,2023-11-09 17:00:23,2023,Q3,193800000,0,...,0.020124,3900000,0,0.000000,0.00,0.00,79100000,79100000,https://www.sec.gov/Archives/edgar/data/28823/...,https://www.sec.gov/Archives/edgar/data/28823/...
1,2023-06-30,DBD,USD,0000028823,2023-08-09,2023-08-09 17:04:06,2023,Q2,922200000,697000000,...,-0.760681,-24800000,-677100000,-0.734223,-8.46,-8.46,80000000,80000000,https://www.sec.gov/Archives/edgar/data/28823/...,https://www.sec.gov/Archives/edgar/data/28823/...
2,2023-03-31,DBD,USD,0000028823,2023-05-30,2023-05-30 07:39:53,2023,Q1,858100000,648800000,...,-0.105232,21100000,-111400000,-0.129822,-1.40,-1.40,79300000,79300000,https://www.sec.gov/Archives/edgar/data/28823/...,https://www.sec.gov/Archives/edgar/data/28823/...
3,2022-12-31,DBD,USD,0000028823,2023-03-16,2023-03-16 16:04:19,2022,Q4,968800000,751300000,...,-0.131090,30200000,-157200000,-0.162263,-1.99,-1.99,79100000,79100000,https://www.sec.gov/Archives/edgar/data/28823/...,https://www.sec.gov/Archives/edgar/data/28823/...
4,2022-09-30,DBD,USD,0000028823,2022-11-09,2022-11-09 16:29:24,2022,Q3,810400000,616600000,...,-0.056762,3900000,-49900000,-0.061575,-0.63,-0.63,79100000,79100000,https://www.sec.gov/Archives/edgar/data/28823/...,https://www.sec.gov/Archives/edgar/data/28823/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,2004-12-31,DBD,USD,0000028823,2005-03-08,2005-03-08 15:58:28,2004,Q4,717219000,516142000,...,0.126562,27971000,62802000,0.087563,0.88,0.87,71661000,72246000,https://www.sec.gov/Archives/edgar/data/28823/...,https://www.sec.gov/Archives/edgar/data/28823/...
76,2004-09-30,DBD,USD,0000028823,2004-11-02,2004-11-02 11:15:21,2004,Q3,613393000,441370000,...,0.115844,22739000,48319000,0.078773,0.68,0.67,71571000,72056000,https://www.sec.gov/Archives/edgar/data/28823/...,https://www.sec.gov/Archives/edgar/data/28823/...
77,2004-06-30,DBD,USD,0000028823,2004-08-04,2004-08-04 15:29:20,2004,Q2,552043000,386786000,...,0.116324,20549000,43667000,0.079101,0.61,0.60,72176000,72680000,https://www.sec.gov/Archives/edgar/data/28823/...,https://www.sec.gov/Archives/edgar/data/28823/...
78,2004-03-31,DBD,USD,0000028823,2004-05-07,2004-05-07 14:07:20,2004,Q1,498255000,358228000,...,0.086092,13727000,29169000,0.058542,0.40,0.40,72777000,73371000,https://www.sec.gov/Archives/edgar/data/28823/...,https://www.sec.gov/Archives/edgar/data/28823/...
79,2003-12-31,DBD,USD,0000028823,2004-03-02,2004-03-02 16:52:56,2003,Q4,648410000,455801000,...,0.134361,27878000,59243000,0.091367,0.81,0.81,72777000,73371000,https://www.sec.gov/Archives/edgar/data/28823/...,https://www.sec.gov/Archives/edgar/data/28823/...

In [41]:
tickers = list(data.keys())
tickers[6:]

['GOOGL',
 'ON',
 'DBD',
 'DSGX',
 'GTLB',
 'LOGI',
 'CRSR',
 'LNG',
 'SWN',
 'APA',
 'BTU',
 'CL',
 'CVX',
 'XOM',
 'BMY',
 'THC',
 'TNDM',
 'MOS',
 'AXTA',
 'KOP',
 'SBLK',
 'EME',
 'DNOW']

ON --> spark query throws an error:

In [46]:
for i in tickers[8:]:
    df = spark.createDataFrame(data[i])
    df.write \
    .format("jdbc") \
    .option("url","jdbc:sqlserver://ZAHRA\SQLEXPRESS:63645;database=S&FData;trustServerCertificate=true;encrypt=true") \
    .option("dbtable",f"{i}") \
    .option("user","mehassan") \
    .option("password","password") \
    .save()

In [6]:
df = spark.createDataFrame(com_income_statement)

In [7]:
df.show(n=1)

+-------------------+------------+----------+---------------+-------------+----------+---------------------------+-----------+------------------+-------+----------+-----------+--------------------+--------------------------------+-----------+------------------+---------------+--------------------+----------------+---------------+--------------+--------------------+-----------+--------------+-----------------+---------------+--------------------+-------------+------+----------------+------------------------------+-----------+---------------------------+---------------------------------------+------+---------------------------+---------------------+------------------------+
|       acceptedDate|calendarYear|       cik|costAndExpenses|costOfRevenue|      date|depreciationAndAmortization|     ebitda|       ebitdaratio|    eps|epsdiluted|fillingDate|           finalLink|generalAndAdministrativeExpenses|grossProfit|  grossProfitRatio|incomeBeforeTax|incomeBeforeTaxRatio|incomeTaxExpense|interestExpense|interestIncome|                link|  netIncome|netIncomeRatio|operatingExpenses|operatingIncome|operatingIncomeRatio|otherExpenses|period|reportedCurrency|researchAndDevelopmentExpenses|    revenue|sellingAndMarketingExpenses|sellingGeneralAndAdministrativeExpenses|symbol|totalOtherIncomeExpensesNet|weightedAverageShsOut|weightedAverageShsOutDil|
+-------------------+------------+----------+---------------+-------------+----------+---------------------------+-----------+------------------+-------+----------+-----------+--------------------+--------------------------------+-----------+------------------+---------------+--------------------+----------------+---------------+--------------+--------------------+-----------+--------------+-----------------+---------------+--------------------+-------------+------+----------------+------------------------------+-----------+---------------------------+---------------------------------------+------+---------------------------+---------------------+------------------------+
|2024-02-21 16:36:57|        2024|0001045810|    27950000000|  16621000000|2024-01-28|                 1508000000|34480000000|0.5659696004727356|12.0535|   11.9326| 2024-02-21|https://www.sec.g...|                               0|44301000000|0.7271757329043695|    33818000000|        0.5551032468|      4058000000|      257000000|     866000000|https://www.sec.g...|29760000000|  0.4884934835|      11329000000|    32972000000|        0.5412166377|            0|    FY|             USD|                    8675000000|60922000000|                          0|                             2654000000|  NVDA|                  846000000|           2469000000|              2494000000|
+-------------------+------------+----------+---------------+-------------+----------+---------------------------+-----------+------------------+-------+----------+-----------+--------------------+--------------------------------+-----------+------------------+---------------+--------------------+----------------+---------------+--------------+--------------------+-----------+--------------+-----------------+---------------+--------------------+-------------+------+----------------+------------------------------+-----------+---------------------------+---------------------------------------+------+---------------------------+---------------------+------------------------+
only showing top 1 row

In [5]:
spark.stop()